/* основной цвет текста #212121 */
/* цвет абзаца #757575 */
/* белый #FFFFFF */
/* цветовой акцент #2196F3 */
/* цвет фона #E5E5E5 */
/* вторичный цвет фона #2F303A */

/*Стили логотипа*/

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3%;
  background-color: #e5e5e5;
  color: #757575;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Стили шапки */
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.logo-blue {
  color: #2196f3;
}

.site-nav .list-item {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2%;
  color: #212121;
}

.site-nav .list-item:hover,
.site-nav .list-item:focus {
  color: #2196f3;
}

.contacts-item {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2%;
  color: #757575;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #2196f3;
}

/* Стили героя */
.hero-title {
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 6%;
  color: #ffffff;
}

.hero-button {
  width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 6%;
  background-color: #2196f3;
  color: #ffffff;
}

/* Общие стили секций */
.section-title {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  color: #212121;
}

/* Стили секции "Преимущества" */
.features-title {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #212121;
}

/* Стили секции "Команда" */
.team-member .name {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #212121;
}

.team-member .position {
  font-size: 16px;
}

/* Стили подвала */
.logo-footer {
  color: #ffffff;
}

.adress-list {
  list-style: none;
}

.adress-list .adress-item {
  font-style: normal;
  color: #ffffff;
}

.adress-item .adress-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
